Day 4/My_workflow_3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c00f0461-d212-47ee-9eae-8ef3528b9c78",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -500,
        -20
      ],
      "id": "59b9790e-49c6-4520-a2d1-7617d100c84a",
      "name": "Webhook",
      "webhookId": "c00f0461-d212-47ee-9eae-8ef3528b9c78"
    },
    {
      "parameters": {
        "jsCode": "// Get the incoming request data from the previous node (Webhook)\nconst body = $json.body;\n\n// Extract individual fields from the body\nconst name = body.name;\nconst topic = body.topic;\nconst task = body.task;\nconst email = body.email;\nconst due_date = body.due_date\n\n// Return the extracted values as separate fields\nreturn [\n  {\n    json: {\n      name,\n      topic,\n      task,\n      email,\n      due_date\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        -20
      ],
      "id": "520ae07a-7a4f-4b52-a7be-db9ca82816f7",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YfgVQX9AByMou3Rn1MMHmCbc_YhtKDYbUkdJB_4EhIg",
          "mode": "list",
          "cachedResultName": "Project 4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YfgVQX9AByMou3Rn1MMHmCbc_YhtKDYbUkdJB_4EhIg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YfgVQX9AByMou3Rn1MMHmCbc_YhtKDYbUkdJB_4EhIg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "webhookUrl",
              "displayName": "webhookUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "executionMode",
              "displayName": "executionMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "myNewField",
              "displayName": "myNewField",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -60,
        -20
      ],
      "id": "dff9a5a4-4f9d-4ba1-91a9-7c6ac6eb885c",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m4GbvA3AAo38i3Zt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YfgVQX9AByMou3Rn1MMHmCbc_YhtKDYbUkdJB_4EhIg",
          "mode": "list",
          "cachedResultName": "Project 4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YfgVQX9AByMou3Rn1MMHmCbc_YhtKDYbUkdJB_4EhIg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YfgVQX9AByMou3Rn1MMHmCbc_YhtKDYbUkdJB_4EhIg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        100,
        -20
      ],
      "id": "971e9c31-c9e2-4777-bff1-f65dacebf17b",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m4GbvA3AAo38i3Zt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a productivity assistant. A team meeting was conducted where project tasks were discussed and assigned.\nThe following information has been submitted by an employee.\n\nYour task is to analyze the details and generate a concise, professional email outlining the action items, assigned tasks, and the due date.\n\nMeeting Details:\n\nName: {{ $json['name'] }}\n\nTopic: {{ $json['topic'] }}\n\nTask Allocated: {{ $json['task'] }}\n\nDue Date: {{ $json['due_date'] }}\n\nInstructions:\n\nFormat the output as a professional email body.\n\nClearly list action items and responsibilities.\n\nMention the due date.\n\nKeep the content short, direct, and informative.\n\nDo not include a subject line.\n\nGenerate the final email content that can be sent to the employee.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        320,
        -20
      ],
      "id": "a582fe05-21cd-460e-b405-cb70ee8896a2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        360,
        200
      ],
      "id": "aca64fa1-ed12-4f66-addf-ef93f8c44423",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YB1H9nSP6SHY10dQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets').item.json.email }}",
        "subject": "HI ",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        700,
        -100
      ],
      "id": "ac090ca9-c3c9-40ec-b406-d131bc5b1aa7",
      "name": "Gmail",
      "webhookId": "ac226747-7561-4d8d-b586-c97675f155ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "evCHCU0be0eMPkc3",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3bc8708-9be6-47ce-a806-22a0d64ca45b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a054e590ffc89fc7616a56871924176edba07ca6386aede847ebc4a680f5e4d"
  },
  "id": "HBxxgOlLcYPPip7R",
  "tags": []
}